<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>
ErrorDocument 400 /error/400.php
ErrorDocument 401 /error/401.php
ErrorDocument 403 /error/403.php
ErrorDocument 404 /error/404.php
ErrorDocument 408 /error/408.php
ErrorDocument 503 /error/503.php

RewriteEngine on
RewriteBase /

RewriteRule ^book/(.+)/download$ download.php?name=$1 [B,NC,L]
RewriteRule ^book/(.+)$ book.php?name=$1 [B,NC,L]
RewriteRule ^books/(.+)$ books.php?$1 [B,NC,L]
RewriteRule ^admin/p/(.+)/(.+)$ admin/?p=$1&id=$2 [B,NC,L]
RewriteRule ^admin/p/(.+)$ admin/?p=$1 [B,NC,L]
RewriteRule ^login/(.+)$ login.php?error=$1 [NC,L]
RewriteRule ^signup/(.+)$ signup.php?error=$1 [NC,L]
RewriteRule ^admin/login/(.+)$ admin/login.php?error=$1 [NC,L]
# RewriteRule ^watch_video/(.+)$ watch_video.php?id=$1 [NC,L]
# RewriteRule ^view_link/(.+)$ view_link.php?id=$1 [NC,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
</IfModule>

<FilesMatch "\.(?i:gif|jpe?g|png|ico|svg)$">
  <IfModule mod_headers.c>
    Header set Cache-Control "max-age=86400, public, must-revalidate"
  </IfModule>
</FilesMatch>

<FilesMatch swiper.min.css|swiper.min.js>
  <IfModule mod_headers.c>
    Header set Cache-Control "max-age=1296000, public, must-revalidate"
  </IfModule>
</FilesMatch>


