/** @format */

:root {
  --normal-text-color: #2b2b2b;
  --dark-color: #2b2b2b;
  --light-color: #f5f5f5;
  --accent-1: #ff7f50;
  --accent-1-s-1: #e57248;
  --accent-1-s-2: #cc6540;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --dim-text-color: #7f8c8d;
  --danger: #ff2400;
  --green: #50c878;
}

.accent-1 {
  color: var(--accent-1);
}
