/** @format */
.book_request {
  height: 80vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: var(--normal-text-color);
  padding: 1rem 1.2rem;
  border-radius: 5px;
  color: var(--light-color);
  box-shadow: 20px 15px 20px hsla(228, 66%, 45%, 0.1);
}

.form-container form input[type='submit'] {
  background: var(--accent-1);
  border: none;
  font-family: system-ui, sans-serif;
  font-size: 1.2rem;
  padding: 0.3rem 0.5rem;
  border-radius: 3px;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
  color: var(--light-color);
  width: 100%;
  cursor: pointer;
}
