/** @format */

.books header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 5rem;
}
.books hr {
  height: 1px;
  background: gray;
  margin: 1rem 0;
}
.books .books-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.books .books-container article {
  width: calc(25% - 1rem);
  text-align: center;
  transition: 0.4s;
  padding: 0.5rem 0.5rem 1.5rem;
  border-radius: 1rem;
  margin: 0 0.5rem;
}

.books .books-container article .image-container {
  width: 95%;
  margin: auto;
  aspect-ratio: 1/1.5;
  background-size: fill;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 1rem;
}

.books .books-container article img {
  width: 100%;
  aspect-ratio: 1/1.5;
  object-position: center;
  object-fit: cover;
  border-radius: 1rem;
  opacity: 0;
  transition: opacity 1s ease;
}
.paginations {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
}
.paginations .pagination {
  padding: 0.3rem 0.5rem;
  margin: 0 0.5rem;
  color: var(--title-color);
  border: 1px solid var(--title-color);
  border-radius: 3px;
}
.paginations .active {
  background: var(--title-color);
  color: #fff;
}

@media (max-width: 900px) {
  .books .books-container article {
    width: calc(33.33% - 1rem);
  }
}

@media (max-width: 740px) {
  .books .books-container article {
    width: calc(33.33% - 0.5rem);
    margin: 0 0.25rem;
  }
}

@media (max-width: 640px) {
  .books .books-container article {
    width: calc(33.33% - 0.25rem);
    margin: 0 0.125rem;
    padding: 0.25rem 0.25rem 0.75rem;
  }
  .books .books-container article img {
    width: 97%;
  }
}

@media (max-width: 540px) {
  .books .books-container article {
    width: calc(50% - 0.25rem);
    margin: 0 0.125rem;
  }
  .books .books-container article img {
    width: 99%;
  }
}
